//********** Brand Colors
@brand-white: #fafafa;
@brand-black: black;
@brand-dark-grey: #636363;
@brand-primary: #37a7f0;
@brand-blue-dark: #29568f;
@brand-blue-medium: #4771a5;
@brand-blue-light: #96b1d2;

//********** Theme Colors
@theme-primary: @brand-primary;
@theme-dark: @brand-blue-dark;

//********** Backgrounds
.bg-primary {
  background-color: @brand-white;
  color: @brand-blue-dark;
}

.bg-dark {
  background-color: @brand-blue-dark;
  color: @brand-white;
}

.bg-section-level1 {
  background-color: @brand-blue-dark;
  color: @brand-white;
}

.bg-section-level2 {
  background-color: @brand-blue-medium;
  color: @brand-white;
}

.bg-section-level3 {
  background-color: @brand-blue-light;
  color: @brand-white;
}

//********** Fonts
.signature {
  font-family: 'Tangerine', serif;
  color: #CC0033 !important;
  //text-shadow: -1px -1px 0px rgba(50,50,50,0.3), 1px 1px 0px rgba(0,0,0,0.8) !important;
  //opacity: 0.4;
  font-size: medium;
  margin-right: 10px;
}